.Dofus_Logo_index {
    display: flex;
    justify-content: center;
}

.classes-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.classes-grid img {
    width: 100px; 
    height: 100px;
}

.classes-grid a {
    text-decoration: none;
    color: black;
}

.classes-grid h3 {
    color: red;
}

.card {
    display: flex;
    flex-direction: row;
    width: 70%;
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    align-items: center;
}


