* {
    font-family: 'Sriracha', cursive;
    color: white;
}

body {
  background: rgb(18,2,85);
  background: linear-gradient(165deg, rgba(18,2,85,1) 23%, rgba(55,25,113,1) 31%, rgba(208,57,179,1) 49%, rgba(175,62,206,1) 60%, rgba(145,29,253,1) 84%, rgba(95,48,219,1) 92%);
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
  
  .Dofus {
      margin-right: 45%;
}
 

.navbar a {
    margin-right: 10%;
    color: white;
    text-decoration: none;
  }

.navbar a:hover {
  text-decoration: underline;
}

.main {
    display: flex;
    align-items: center;
  }
  
  .textbox {
    flex: 1;
    padding: 10%;
  }
  
  .personage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .personage-image {
    max-width: 90%;
    max-height: 90%;
    margin-right: 15%;
  }
  

.textbox h2 {
    font-family: 'Sriracha', cursive;
    font-size: 10vh;
    margin-left: 20%;
}

.button{

font-family: Roboto, sans-serif;
font-weight: 100;
font-size: 14px;
color: #fff;
background-color: rgba(55,25,113,1);
padding: 10px 30px;
border: 1px solid;
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
border-radius: 50px;
transition : 3000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn {
    display: flex;
}


.button {
    margin-left: 10%;
}


.button:hover{
transition : 1000ms;
transform : translateY(-5px);
background-color: #fff;
color: rgba(55,25,113,1);
border: solid 2px black;
}
